name: CI Pipeline
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Python deps
        run: pip install flake8
      - name: Lint Python
        run: flake8 app/*.py
      - name: Helm Lint
        run: helm lint helm/devops-api
      - name: Terraform Validate
        run: terraform -chdir=terraform validate
      - name: Build Docker Image
        run: docker build -t devops-api .
