name: CI Pipeline

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Python deps
        run: pip install flake8

      - name: Lint Python
        run: flake8 app/*.py

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Helm Lint
        run: helm lint helm/

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7

      - name: Terraform Validate
        run: terraform -chdir=terraform validate

      - name: Build Docker Image
        run: docker build -t devops-api .
