name: Secure Boot CI

on: [push]

jobs:
  build-and-validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Python Linting dependencies
        run: pip install flake8

      - name: Lint Python Code
        run: |
          # Stop the build if there are Python syntax errors or undefined names
          flake8 app --count --select=E9,F63,F7,F82 --show-source --statistics

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.11.1

      - name: Lint Helm Chart
        run: helm lint ./helm

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Validate Terraform
        run: |
          cd terraform
          terraform init -backend=false
          terraform validate

      - name: Build Docker Image
        run: docker build -t secure-boot-app:latest .
